
<footer class="navbar-fixed-bottom text-center">
    <div class="container" style="font-size:11pt;">
        湯武生技企業有限公司 TANG WU BIOTECHNOLOGY ENTERPRISE CO.,LTD<br />
        彰化縣伸港鄉溪底村工東一路36號<br />
        FACTORY: No.36 Gungdung 1 st Road, His Ti Village, Shen Kang Hsiang Changhua Country, Taiwan 509<br />
        Copyright © 2022 翔堉科技 All Rights Reserved.
    </div>
</footer>